@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

:root {
    --background: #AADCEB;
    --header-footer: #E1CBB7; 
    --slogan: #093249;
    --logo: #0c4767;
    --hightlight: #7C9E57;
    font-size: 62.5%;

}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 15% 1fr 300px;
    grid-template-rows: 5vh 1fr 5vh;
    padding: 0 4rem;
}

header {
    display: grid;
    grid-template-columns: 15% 1fr 300px;
    grid-template-rows: 1fr;
}